body,html{font-family:Calibri; font-size:10pt; }
		ul, li{list-style:outside none; padding:0; margin:0}
		a.disabled{text-decoration:none; color:#888; cursor:default}
		.hide{display:none}
		
		#data{width:1000px; height:700px; position:relative; }
		.chart{position:absolute; left:0; top:0}
		#colorlist{margin:10px 0; color:#2f2f2f; text-shadow: #ccc 1px 1px 1px; z-index:999}
		.color-example{display:inline-block; padding:0 3px; width:100px; text-align:center; margin-right:5px;border-radius:5px;border:2px solid #fff; cursor:pointer;}
		.color-hide {background:none !important;}
		.color-example-hideall{background:#666; color:#eee; text-shadow:none}
		.color-example-hideall.color-hide{border-color:#666; color:#2f2f2f}
		/*
		.color-example-default.color-hide{border-color:#9A9CFF; }
		.color-example-Sally.color-hide{border-color:#9A9CFF; }
		.color-example-Karen.color-hide{border-color:#F691B2}
		.color-example-Brandon.color-hide{border-color:#FBE983}
		.color-example-Jessie.color-hide{border-color:#7BD148}
		.color-example-Marie.color-hide{border-color:#4986E7}
		.color-example-Sean.color-hide{border-color:#D06B64}
		*/
		#chart-xaixs{margin-top:-10px}
		.chart-xaxis-label{width:140px; display:inline-block; text-align:center;}
		.chart-ylaxis-label{height:70px; padding-left:5px}
		#chart-yr{display:none}
		#chart-yraixs{text-align:right; width:1000px; position:absolute; top:0; left:0; display:none; }
		.chart-yraixs-label{padding-right:5px; color:#666;}
		.chart-yraixs-label span{position:relative; z-index:9999; text-shadow: #ccc 1px 1px 1px;}
		
		.event{position:absolute; cursor:pointer; }
		.event-focus{z-index:999}
		.salesthru{width:100%; border:2px solid #ccc; border-radius:5px; height:34px; position:relative}
		.salesthru-sold{height:34px}
		.salesthru-label{position:absolute; left:0; top:0; padding:2px 0 2px 3px; white-space:nowrap; color:#222; line-height:15px;
			text-shadow: #ccc 1px 1px 1px}
		/*	
		.event-default .salesthru,.color-example-default{background:#9A9CFF;}
		.event-default .salesthru-sold{background:#585bff;}	
		.event-Sally .salesthru,.color-example-Sally{background:#9A9CFF;}
		.event-Sally .salesthru-sold{background:#585bff;}
		.event-Karen .salesthru,.color-example-Karen{background:#F691B2;}
		.event-Karen .salesthru-sold{background:#f22568;}
		.event-Brandon .salesthru,.color-example-Brandon{background:#FBE983;}
		.event-Brandon .salesthru-sold{background:#fad816;}
		.event-Jessie .salesthru,.color-example-Jessie{background:#7BD148;}
		.event-Jessie .salesthru-sold{background:#3d9a06;}
		.event-Marie .salesthru,.color-example-Marie{background:#4986E7;}
		.event-Marie .salesthru-sold{background:#04398e;}
		.event-Sean .salesthru,.color-example-Sean{background:#D06B64;}
		.event-Sean .salesthru-sold{background:#cf3025;}
		*/
		.event-level0 .salesthru,.color-example-level0{background:#f8696b;}
		.event-level0 .salesthru-sold{background:#f63235;}	
		.event-level1 .salesthru,.color-example-level1{background:#fbaa77;}
		.event-level1 .salesthru-sold{background:#fc8336;}
		.event-level2 .salesthru,.color-example-level2{background:#ffeb84;}
		.event-level2 .salesthru-sold{background:#f1cf1f;}
		.event-level3 .salesthru,.color-example-level3{background:#b1d580;}
		.event-level3 .salesthru-sold{background:#74b023;}
		.event-level4 .salesthru,.color-example-level4{background:#63be7b;}
		.event-level4 .salesthru-sold{background:#3cbd5e;}

		
		.color-example-level0 .color-hide{border-color:#f8696b}
		.color-example-level1 .color-hide{border-color:#fbaa77}
		.color-example-level2 .color-hide{border-color:#ffeb84}
		.color-example-level3 .color-hide{border-color:#b1d580}
		.color-example-level4 .color-hide{border-color:#63be7b}
